<?xml version="1.0"?>
<ArrayOfImportentNumbers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ImportentNumbers>
    <numberSaved>10</numberSaved>
    <typeOfnumber>Minimum If Available</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>20</numberSaved>
    <typeOfnumber>Minimum If Carry Light Weigh</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>30</numberSaved>
    <typeOfnumber>Minimum If Carry Middle Weight</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>40</numberSaved>
    <typeOfnumber>Minimum If Carry Heavy Weight</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>50</numberSaved>
    <typeOfnumber>Charging Precentage Per Hour</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>5</numberSaved>
    <typeOfnumber>Drone Running Number</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>2</numberSaved>
    <typeOfnumber>Station Running Number</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>10</numberSaved>
    <typeOfnumber>Parcel Running Number</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>1</numberSaved>
    <typeOfnumber>Charge Running Number</typeOfnumber>
  </ImportentNumbers>
</ArrayOfImportentNumbers>